/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f6f5f3;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 45px;
    text-shadow: 1px 1px 2px #333;
}

h2 {
    color: #4e3969;
    font-size: 28px;
}

.presentation h2 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

article hr {
    border: 1px solid;
    color: #F7972E;
    width: 62px;
}

h3 {
    font-weight: 300;
    font-size: 15px;
    color: gray;
}

.col-details h3 {
    color: #000;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 40px;
}


/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/
header {
    background-color: #fff;
    text-align: center;
    padding: 14px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    color: #ff9614;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*----------------
    MAIN
------------------*/
main {
    padding: 26px;
}

.recipe-intro h2 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.recipe-intro h2>span {
    display: none;
}

.recipe-intro .col-video,
.recipe-intro .col-details {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
}


.recipe-intro .col-details {
    padding: 20px;

}

.recipe-intro .col-video img {
    width: 100%;
}

.details>* {
    padding-bottom: 20px;
}

.social,
.banner,
.presentation {
    margin-top: 40px;
}

.row.social {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.social strong {
    font-size: 14px;
    display: none;

}

.social .btn {
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
    cursor: pointer;

}

.fa-facebook {
    color: #1A77F3;
}

.fa-twitter {
    color: #009EFF;
}

.fa-instagram {
    color: #DC5285;
}

.fa-pinterest,
.fa-youtube {
    color: #E62222;
}

.banner {
    display: none;
}

#img-tiramisu {
    display: block;
    max-width: 70%;
    margin: 15px auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.presentation p {
    line-height: 2;
}

/*----------------
    FOOTER
------------------*/


footer {
    background-color: #7C69A4;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

footer>* {
    padding-bottom: 15px;
}

footer h4 {
    margin-bottom: 10px;

}

footer ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul li {
    list-style: none;
    max-width: calc(100% / 4);
}

footer ul li a {
    color: inherit;
}


/*----------------
    RESPONSIVE
------------------*/
/* from 768px to 992px - Tablet */
@media screen and (min-width: 768px) {
    header {
        text-align: left;
    }

    .recipe-intro h2>span {
        display: inline;
    }

    .details {
        display: flex;
        flex-wrap: wrap;
    }

    .details p {
        width: calc(100% / 3);
        padding-bottom: 30px;
    }

    .row.social {
        gap: 20px;
    }

    .social .btn {
        width: 100%;
    }

    .banner {
        display: block;
    }

    #img-tiramisu {
        float: left;
        margin-right: 10px;
        max-width: 42%;
        margin-bottom: 0;
    }

    .presentation p {
        margin-top: 5px;
    }
}

/* from 992 and above*/
@media screen and (min-width: 992px) {
    .recipe-intro .col-video {
        width: 70%;
    }

    .recipe-intro .col-details {
        width: 30%;
    }

    .details {
        display: block;
    }

    .details p {
        width: 100%;
    }

    .social strong {
        display: inline;
    }

    #img-tiramisu {
        max-width: 28%;
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 16px 30px;
        text-align: left;
    }

    footer>* {
        padding: 0;
    }

    footer .link {
        display: flex;
        align-self: center;
    }

}