/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f6f5f3;
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 45px;
    text-shadow: 1px 1px 2px #333;
}


/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/
header {
    background-color: #fff;
    text-align: center;
    padding: 14px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    color: #ff9614;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*----------------
    MAIN
------------------*/
main {
    padding: 26px;
}


/*----------------
    FOOTER
------------------*/

/*----------------
    RESPONSIVE
------------------*/
/* from 768px to 992px - Tablet */
@media screen and (min-width: 768px) {
    header {
        text-align: left;
    }
}

/* from 992 and above*/
@media screen and (min-width: 992px) {

}